
:root{
    --text: monospace, serif, sans-serif ;
    --main-color: #033949 ;
    --secondary-color: #a3ff15;
    --back-color: #A1ADA5;
}

.container{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}

body{
    /*background-color: var(--back-color);*/
    margin: 0;
}
/*HEADER*/

header{
    background-image: url("imagenes/pelota.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    grid-area: header;
}

h1{
    background-color: var(--main-color);
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: white;
    font-family: var(--text);
}

#logo{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 10px;
    top: 15px;


}

/*NAV*/

nav{
    grid-area: nav;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
}

nav>a{
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 0 5px;
    font-weight: bold;
}

nav>.active, nav>a:hover{
    background-color: var(--secondary-color);
    color: black;
}

/*MAIN*/

main{
    grid-area: main;  
    margin: 0px;
}


main>div{
    text-align: left;
    margin: 15px;
}

main div>p:first-child{
    font-weight: bold;
}

.caja{
    border: 2px solid black;
    margin: 20px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    border-radius: 15px;
}


h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--text);
    background-color: var(--secondary-color);
    margin: 0;
    height: 50px;
    color: black;
    margin-bottom: 10px;
}

main p{
    text-align: center;
    padding: 0;
}

/*RULES*/

dl{
    margin: 10px;
}

dt{
    font-weight: bold;
}

dd>ol>li{
    padding-bottom: 10px;
}

ul{
    list-style: square;
}

.circle{
    list-style: circle;
}

/*GAME INFO*/

.main-game-info p{
    text-align: left;
    margin-left: 5px;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 70%;
    margin: 20px;

}

th, td{
    padding: 10px 15px;
    border: 1px solid rgb(44, 30, 30);
}

tr>td:first-child{
    text-align: center;
}

thead{
    background-color: rgb(43, 44, 71);
    color: white;
}

tbody>tr:nth-child(even){
    background-color: #bdc8cf;
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mail-phone{
    display: flex;
    flex-direction: row; 
    margin: 0;
}

.mail-phone>p:nth-child(2){
    margin-left: 20px;
}

.mail-phone>p:first-child{
    margin-left: 5px;
}

/*galeriaaa*/

#main-galery{
    box-sizing: border-box;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-content: center;
    width: 100vh;
    margin: auto;
    grid-gap: 10px;
}

.galeria img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    vertical-align: top;
    transition: transform 1s;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.ligth-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

.ligth-box img{
    width: 75vh;
    height: 70vh;
}

.ligth-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: rgb(8, 6, 6);
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 60%;
    line-height: 40px;
}

.next{
    display: block;
    background: rgb(8, 6, 6);
    background-color:rgb(8, 6, 6);
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

article i{
    background-color: rgb(8, 6, 6);
}

/* REGISTRATION*/

form{
    width: 100%;
}

label{
    display: block;
    width: 100%;
    font-size: 14px;
}

input, select{
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #CCC;
}

input:focus{
    border: 1px solid rgb(13, 13, 88);
}

button{
    background-color: blue;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 768px){
    h1{
        font-size: 25px;
    }


    #logo{
        width: 110px;
        height: 110px;
    }

    nav{
        height: 30px;
    }

    nav>a{
        padding: 0 30px;
        margin: 0;
    }

    .galeria{
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 200px);
    }

    .galeria img{
        height: 200px;
    }

    dt{
        padding-top: 10px;
    }

    .mail-phone>p:nth-child(2){
        margin-left: 200px;
    }
}

@media only screen and (min-width: 992px){
    /*main>div{
        border: 7px double black;
     
    }*/

    header{
        height: 350px;
    }

    #logo{
        height: 150px;
        width: 150px;
    }

   

    nav>a{
        padding: 0 55px;
        margin: 0;
    }

    h3{
        margin: 0;
    }

    .parrafo{
        margin: 0;
        padding-bottom: 5px;
    }

    .mail-phone>p:nth-child(2){
        margin-left: 400px;
    }

    .galeria{
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 300px);
    }

    .galeria img{
        height: 300px;
    }

    .caja{
       padding: 20px;
    }
}