/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
}

/* ESTILOS HEADER */

header{
    background-image: url("imagenes/img1.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; 
}

#logo{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 280px;
    right: 200px;
    z-index: 1;

}

header>h2{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    display: block;
    width: 100%;
    top: 300px;
    font-size: 25px;
}

/* ESTILOS NAV */

nav{
    float: left;
    width: 10vw;
    margin: 40px 0;
    padding-left: 20px;
}

nav a{
    display: block;
    margin: 50px 0;
}

/* ESTILOS MAIN */

main{
    float: left;
    margin-top: 65px;
    width: 65vw;
}

main>div:first-child{
    margin-top: 23px;
}

main>div{
    margin-top: 25px;
}

.actividad, .parrafo {
    margin: 0 20px;
}

main>p{
    margin: 20px 0;
    padding: 5px 0;
}

/* ESTILOS GALERIA PARA QUE NO SE MUESTRE */

#galery{
    display: none;
}




